.main-vertical {
    height: 100%;
    position: fixed;
    width: 300px;
	left:0;
    border: 1px solid red;
}
.inner {
    list-style: none;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    left: 0;

}
.vertical .inner {
    width: 100%;
}

.inner li {
    padding: 10px 20px;
    position: relative;
}

.inner li + li{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

