<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://rocketf.trungtran.space" version="0.2.1" viewmodes="maximized">
    <tizen:application id="fFZJLVqMt3.ChoiceSS" package="fFZJLVqMt3" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <name>Choice Hotel</name>
	<access origin="*" subdomains="true"></access>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv-samsung-public"/>
</widget>
