<div class="concierge-sub-content businessCenter">
    <div class="sub-content-detail">
        <section>
            <h2 class="sub-content-header">Business Center</h2>
            <div class="main-service">
                <img src="./images/concierge/fedex.jpg" alt="">
                <h3>Fairmount Hotel</h3>
                <p>40 Bellevue Way NE</p>
                <p>Bellevue, WA 98004</p>
                <p>3rd Floor</p>
                <p>(425) 451 - 1005</p>
            </div>
        </section>
        <aside>
            <h3>Promotions</h3>
            <div class="promotion-list">
                <div class="promotion-item">
                    <h4>20% off your purchase of $10 or more</h4>
                    <div class="promotion-detail">
                        Present this promotion code to your cashier upon checkout: z34srtl
                    </div>
                </div>
                <div class="promotion-item">
                    <h4>FREE notebook with purchase of $5 or more</h4>
                    <div class="promotion-detail">
                        Present this promotion code to your cashier upon checkout: xfreebiex
                    </div>
                </div>
                <div class="promotion-item">
                    <h4>40% off your purchase of $5 or more</h4>
                    <div class="promotion-detail">
                        Present this promotion code to your cashier upon checkout: FortyofiveO
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>