<div class="concierge-sub-content carRental">
    <div class="sub-content-detail">
        <h2 class="sub-content-header">Car rental</h2>
        <div class="car-rentals-vendor backToMenu">
            <a class="car-rental-item focusable first">
                <div class="vendor-image">
                    <img src="./images/concierge/avis.jpg" alt="">
                </div>
                <div class="vendor-info">
                    <h3 class="vendor-name">Avis</h3>
                    <p class="vendor-address">40 Bellevue Way NE, Bellevue, WA 98004</p>
                    <p class="vendor-phone">(425) 324 - 2353</p>
                </div>
                <div class="clear"></div>
            </a>
            <a class="car-rental-item focusable">
                <div class="vendor-image">
                    <img src="./images/concierge/hertz.jpg" alt="">
                </div>
                <div class="vendor-info">
                    <h3 class="vendor-name">Hertz</h3>
                    <p class="vendor-address">40 Bellevue Way NE, Bellevue, WA 98004</p>
                    <p class="vendor-phone">(425) 324 - 2354</p>
                </div>
                <div class="clear"></div>
            </a>
            <a class="car-rental-item focusable">
                <div class="vendor-image">
                    <img src="./images/concierge/budget.jpg" alt="">
                </div>
                <div class="vendor-info">
                    <h3 class="vendor-name">Budget</h3>
                    <p class="vendor-address">40 Bellevue Way NE, Bellevue, WA 98004</p>
                    <p class="vendor-phone">(425) 324 - 2355</p>
                </div>
                <div class="clear"></div>
            </a>
            <a class="car-rental-item focusable last">
                <div class="vendor-image">
                    <img src="./images/concierge/enterprise.jpg" alt="">
                </div>
                <div class="vendor-info">
                    <h3 class="vendor-name">Enterprise</h3>
                    <p class="vendor-address">40 Bellevue Way NE, Bellevue, WA 98004</p>
                    <p class="vendor-phone">(425) 324 - 2357</p>
                </div>
                <div class="clear"></div>
            </a>
        </div>
    </div>
</div>