<div class="concierge-sub-content checkout">
    <div class="sub-content-detail">
        <h2 class="sub-content-header">Checkout</h2>
        <div class="sub-content-container">
            <p><b>Thanks for staying with us! Here's a receipt for yout stay.</b></p>
            <p>We charged $445 to your American Express card ending in *7890.</p>
            <div style="margin-top:60px"></div>
            <table>
                <tbody>
                <tr style="margin-top:60px">
                    <td class="w40">
                        <span class="checkin">Check in: <span class="checkin-date">June 12, 2016</span></span>
                        <p>1 room, 4 nights</p>
                    </td>
                    <td class="w60 no-padding">
                        <span class="checkout">Checkout: <span class="checkout-date">June 16, 2016</span></span>
                    </td>
                </tr>
                <tr>
                    <td class="w40"><p><b>3</b> in room refreshments</p></td>
                    <td class="w60">$21</td>
                </tr>
                <tr>
                    <td class="w40">
                        <p><b>2</b> on-demand movies</p>
                    </td>
                    <td class="w60">$10</td>
                </tr>
                <tr class="pd50">
                    <td class="w40">
                        <p>Room</p>
                    </td>
                    <td class="w60">$239</td>
                </tr>
                <tr>
                    <td class="w40"><p>Taxes & Fees</p></td>
                    <td class="w60">$18</td>
                </tr>
                <tr>
                    <td class="w40"><p>Subtotal</p></td>
                    <td class="w60">$157</td>
                </tr>
                <tr>
                    <td class="w40"><p class="orange-text">Total</p></td>
                    <td class="w60"> <p class="orange-text">$445</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>