<div class="concierge-sub-content touch-service houseKeeping">
    <div class="sub-content-detail backToMenu">
        <h2 class="sub-content-header">House Keeping</h2>
        <div class="sub-content-container touch-service-container">
            <div>For any assistance you may require from our Room Attendants, please touch the 'House Keeping' button below.</div>
            <div class="service-button">
                <a class="focusable service-icon"></a>
                <div class="touch-action-label">
                    <p class="normal-label">Housekeeping, please!</p>
                    <p class="active-label">Housekeeping coming!</p>
                </div>
            </div>
        </div>
    </div>
</div>