<div class="concierge-sub-content touch-service valet">
    <div class="sub-content-detail backToMenu">
        <h2 class="sub-content-header">Valet</h2>
        <div class="sub-content-container touch-service-container">
            <div>Our records that you have a car checked at our valet service. Please hit the 'Valet' button below to retrieve your vehicle at the front.</div>
            <div class="service-button">
                <a class="focusable service-icon"></a>
                <div class="touch-action-label">
                    <div class="normal-label">
                        <p>Please grab my car, <b>thanks!</b></p>
                    </div>
                    <div class="active-label">
                        <p>Your car will be right up!</p>
                        <p>Please come to the valet counter with</p>
                        <p><b>your name</b> and <b>room number</b> to get your vehicle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>