<div id="scene-Concierge" class="scene">
  <!-- End top-status -->
  <div class="wrapper">
    <!-- Main menu -->
    <div id="verticalMenu">
      <div class="main-menu">
        <ul>
          <li>
            <a class="focusable concierge-item first" data-target=".roomServices">Room Service</a>
          </li>
          <li>
            <a class="focusable concierge-item" data-target=".carRental">Car Rental</a>
          </li>
          <li>
            <a class="focusable concierge-item" data-target=".checkout">Checkout</a>
          </li>
          <li>
            <a class="focusable concierge-item" data-target=".businessCenter">Business Center</a>
          </li>
          <li>
            <a class="focusable concierge-item" data-target=".houseKeeping">Housekeeping</a>
          </li>
          <li>
            <a class="focusable concierge-item last" data-target=".valet">Valet</a>
          </li>
          <!--<li>-->
            <!--<a class="focusable concierge-item last" data-target=".parentalControl">Parental Control</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
    <div class="main-content" id="conciergeContent">
      <!--CONCIERGE SUB CONTENTS PLACEHOLDER-->
    </div>
  </div>
</div>