<div id="scene-Landing" class="scene home">
	<a class="divsticker focusable" id="div_sticker">
		<div class="divsticker-div">
			<span>
			THE CHOICE PRIVILEGES® VISA SIGNATURE® CREDIT CARD. GET HERE FASTER, STAY LONGER
			</span>
		</div>
		<div class="divsticker-img">
			<img class="divsticker-logo" src="./images/landing/choice_logo.png">
		</div>
	</a>
	<!--/end stick div -->

	<!-- Wrapper -->
	<div id="mainWrapper" class="wrapper">
		<section id="topSection">
			<div id="topSlider">
				<img class="ssss-slide active" src="./images/landing/landing_img1.jpg">
				<img class="ssss-slide" src="./images/landing/landing_img2.jpg">
				<img class="ssss-slide" src="./images/landing/landing_img3.jpg">
			</div>
			<!--Welcome Div  -->
			<div id="welcome" class="welcome-container">
				<div>
					<img class="welcome-logo" src="./images/landing/home_logo.png">		
				</div>
				<div class="welcome-txt">Welcome back,</div>
				<div class="welcome-name">
					<span class="loggedSalutation">Mr.</span> <span class="loggedUsername">Brian Johnson</span>
				</div>
				<div class="wifi-display">
					<div class="wifi-text">
						<span class="roomName">Room1026</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Password: <span class="wifiPassword">Johnson</span>
					</div>
				</div>
				<div class="welcome-bottom">
					<div class="welcome-datetime" id="welcome_datetime">
						<span class="greetingTime"></span> PST &nbsp;|&nbsp; <span class="greetingDate"></span>
					</div>
					<div class="welcome-temp"><img src="./images/landing/sunny.png" class="header-icon">30°C</div>
				</div>
			</div>
			<!--/Welcome Div  -->
			
			<!-- Nav -->
			<nav id="menuBar" class="focusable-container">
				<ul>
					<li><a data-target="concierge" class="focusable font-hn-b menu-item active Concierge first">Concierge</a></li>
					<li><a data-target="livetv" class="focusable font-hn-b menu-item LiveTV">Live TV</a></li>
					<li><a data-target="movies" class="focusable font-hn-b menu-item Movies">Movies</a></li>
					<li><a data-target="activities" class="focusable font-hn-b menu-item FoodAndActivity">Food &amp; Activity</a></li>
					<li><a data-target="roomcontrol" class="focusable font-hn-b menu-item RoomControl last">Room Control</a></li>
					<div class="clear"></div>
				</ul>
			</nav>
			<!-- /Nav -->
		</section>
		<!-- Content -->
		<section id="bottomSection" class="focusable-container">
			<div class="landing-promotion">
				<div class="banner-divider">
					<div class="landing-banner big">
						<img src="./images/landing/banner1.jpg">
						<a class="promotionLink focusable first" data-target="FoodAndActivity">
							<div class="landing-promotion-detail">
								<div class="landing-promotion-category font-hn">hotel exclusive</div>
								<div class="landing-promotion-title font-hn">Enjoy in-room spa treatment</div>
								<div class="landing-promotion-desc font-hn-l">Reverse today for 50% off</div>
							</div>
						</a>
					</div>

				</div>
				<div class="banner-divider">
					<div class="landing-banner big">
						<img src="./images/landing/banner2.jpg">
						<a class="promotionLink focusable" data-target="FoodAndActivity">
							<div class="landing-promotion-detail">
								<div class="landing-promotion-category font-hn"></div>
								<div class="landing-promotion-title font-hn">Sambrosa</div>
								<div class="landing-promotion-desc font-hn-l">Reverse a table and get one free appetizer</div>
							</div>
						</a>
					</div>

				</div>
				<div class="banner-divider">
					<div class="landing-banner small">
						<img src="./images/landing/small-banner1.jpg">
						<a class="promotionLink focusable" data-target="FoodAndActivity">
							<div class="landing-promotion-detail">
								<div class="landing-promotion-category font-hn">hotel exclusive</div>
								<div class="landing-promotion-title font-hn">Bar Luxe</div>
								<div class="landing-promotion-desc font-hn-l">Complimentary Drink</div>
							</div>
						</a>
					</div>
					<div class="landing-banner small">
						<img src="./images/landing/small-banner2.jpg">
						<a class="promotionLink focusable" data-target="Concierge" data-sub-target="RoomService">
							<div class="landing-promotion-detail">
								<div class="landing-promotion-category font-hn"></div>
								<div class="landing-promotion-title font-hn">Room Service</div>
								<div class="landing-promotion-desc font-hn-l">Order Food</div>
							</div>
						</a>
					</div>
					<div class="landing-banner small">
						<img src="./images/landing/small-banner3.jpg">
						<a class="promotionLink focusable" data-target="Movies">
							<div class="landing-promotion-detail">
								<div class="landing-promotion-category font-hn"></div>
								<div class="landing-promotion-title font-hn">Mad Max</div>
								<div class="landing-promotion-desc font-hn-l">Rent Movies</div>
							</div>
						</a>
					</div>
					<div class="landing-banner small">
						<img src="./images/landing/small-banner4.jpg">
						<a class="promotionLink focusable last" data-target="ParentalControl">
							<div class="landing-promotion-detail">
								<div class="landing-promotion-category font-hn"></div>
								<div class="landing-promotion-title font-hn">Parental Control</div>
								<div class="landing-promotion-desc font-hn-l">Edit settings</div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</section>
		<!-- /Content -->
	</div>
</div>
