<div id="scene-Playback" class="scene">
    <section id="playback">
        <div class="container-fluid">
            <div class="row">
                <!-- PLAYER CONTROLS BEGIN-->
                <a href="javascript:;" class="controls-placeholder focusable"></a>
                <!-- PLAYER CONTROLS END-->
                <div class="col-lg-12 playback-video">
                    <div class="b-play play focusable">
                        <img src="./images/playback/play.png">
                        <div id="playerLoader" class="player-loader">
                            <div class="f_circleG" id="frotateG_01"></div>
                            <div class="f_circleG" id="frotateG_02"></div>
                            <div class="f_circleG" id="frotateG_03"></div>
                            <div class="f_circleG" id="frotateG_04"></div>
                            <div class="f_circleG" id="frotateG_05"></div>
                            <div class="f_circleG" id="frotateG_06"></div>
                            <div class="f_circleG" id="frotateG_07"></div>
                            <div class="f_circleG" id="frotateG_08"></div>
                        </div>
                    </div>
                </div>
                <!--                    FULLSCREEN CONTROLS-->
                <div class="col-lg-8 col-md-offset-2 player-controls">
                    <div class="col-lg-1 bg-video">
                        <div class=" btn-play">
                            <a href="#" class="focusable">
                                <img src="./images/playback/arrow-play.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="bg-video scroll-play" id="playerControls">
                            <!--                                PLACEHOLDER FOR PLAYER CONTROLS-->
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="">
                            <div class="info bg-video focusable"><span>INFO</span></div>
                            <div class="full-btn bg-video focusable">
                                <div class="full-btn-nick">
                                    <img src="./images/playback/icon-full-click.png">
                                </div>
                                <img src="./images/playback/icon-full.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!--                    END FULLSCREEN CONTROLS-->
                <div class="playback-footer">
                    <!--                        PLAYER FOOTER PLACEHOLDER-->
                    <div class="visible-footer">

                    </div>
                </div>
            </div>
        </div><!--end container-fluid-->
    </section><!--end login-->
</div>