<script data-name="tplHeader" type="text/html">
    <header>
        <div class="container">
            <div class="logo">
                <a>
                    <img src="./images/home_logo.png" width="117.5" height="35" alt="choice" title="choice">
                </a>
            </div>
            <div class="top-nav appMenu">
                <ul class="focusable-container">
                    <li><a class="focusable Landing first" data-target="landing">Home</a></li>
                    <li><a class="focusable Concierge" data-target="concierge">Concierge</a></li>
                    <li><a class="focusable LiveTV" data-target="livetv">Live TV</a></li>
                    <li><a class="focusable Movies" data-target="movies">Movies</a></li>
                    <li><a class="focusable FoodAndActivity" data-target="activities">Food & Activities</a></li>
                    <li><a class="focusable RoomControl last" data-target="roomcontrol">Room Control</a></li>
                </ul>
            </div>
        </div>
    </header>
</script>