<div id="sidebar">
	<ul>
		<li><a data-target="Landing" class="nav-link focusable logo" href="#"></a></li>
		<li><a data-target="Concierge" class="nav-link focusable" href="#">Concierge</a></li>
		<li><a data-target="LiveTV" class="nav-link focusable" href="#">Live TV</a></li>
		<li><a data-target="Movies" class="nav-link focusable" href="#">Movies</a></li>
		<li><a data-target="FoodAndActivity" class="nav-link focusable" href="#">Food & Activity</a></li>
		<li><a data-target="RoomControl" class="nav-link focusable" href="#">Room Control</a></li>
	</ul>
	<div class="spacer"></div>
</div>